*{
	margin: 0px;
	border: 0px
}
body{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E4E4E4;
}

/* HEADER  */

header{
	margin-top: 3vh;
	width: 50vw;
	height: 50px;
	display: flex;
	justify-content: space-between;
	background-color: white;
	padding: 17px 2vw 17px 2vw;
	border-radius: 25px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	

}
.headerElement{
	height: 50px;
	width: auto;
	object-fit: contain;
}
.button_New{
	margin-right: 10px;
}

.btn1:hover{
	filter: brightness(80%)
}

.btn1{
	transition: all 0.3s ease; 
}

/* MEDIA  */

@media (max-width: 1000px){
	.headerElement{
		height: 25px; 
		width: auto; 
		object-fit: contain; 
	}
	.button_New{
		margin-right: 5px;
	}
	header{
		height: 25px;
		padding: 10px 2vw 10px 2vw;
		border-radius: 15px;
	}
	
}

@media (max-width: 550px){
	.headerElement{
		height: 15px; 
		width: auto; 
		object-fit: contain; 
	}
	.button_New{
		margin-right: 2px;
	}
	header{
		margin-top: 3vh;
		height: 15px;
		padding: 5px 2vw 5px 2vw;
		border-radius: 8px;
	}
}

/* MAIN SECTION */

.FirstPage{
	margin-top: 20px;
	width: 50vw;
	background-color: white;
	padding: 4vh 2vw 4vh 2vw;
	border-radius: 30px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);

	display: flex;
	justify-content: space-between;

	font-size: 10px;
}
.contactsFP{
	display: flex;
	flex-direction: column;
	font-size: 0px;
	gap: 15px;

}
.contactsElement{
	height: 75px; 
	width: auto; 
	object-fit: contain; 
}
.headingFP{
	font-size: 3.5em;
	font-family: sans-serif;
	font-weight: bold;
	margin: 0 0 5px 0;
}
.text1FP{
	font-size: 1.9em;
	font-weight: bold;
	font-family: sans-serif;
	text-indent: 5%;
	margin: 0 0 0 0;
	word-spacing: 1.5em;
}

.descriptionFP{
	font-size: 2.0em;
	font-family: sans-serif;
	margin: 10px 0 5px 0;
}
.descriptionElementsFP{
	font-size: 2.0em;
	font-family: sans-serif;
	font-weight: bold;
	padding: 0 0 0 30px;
	margin: 0 0 0 0;
	text-indent: 0;
}

/* MEDIA First Page */

@media (max-width: 1230px){
	.FirstPage{
		font-size: 9px;
	}
	.contactsElement{
		height: 70px;
	}
}
@media (max-width: 1110px){
	.FirstPage{
		font-size: 8px;
	}
	.contactsElement{
		height: 60px;
	}
}

@media (max-width: 840px){
	.FirstPage{
		margin-top: 15px;
		font-size: 7px;
		border-radius: 20px;
		padding: 2vh 1vw 2vh 1vw;
	}
	.contactsElement{
		height: 55px;
	}
	.contactsFP{
		gap: 10px;
	}
}
@media (max-width: 680px){
	.FirstPage{
		font-size: 6px;
	}
	.contactsElement{
		height: 40px;
	}
}
@media (max-width: 560px){
	.FirstPage{
		margin-top: 10px;
		font-size: 5px;
		border-radius: 15px;
	}
	.contactsElement{
		height: 35px;
	}
	.contactsFP{
		gap: 6px;
	}
}
@media (max-width: 480px){
	.FirstPage{
		font-size: 3.5px;
	}
	.contactsElement{
		height: 25px;
	}
}
/* Login Page */
.center{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95vw;
	height: 95vh;
}
.LoginPage{
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	position: relative;
	/* width: 20vw; */
	/* height: 45vh; */
	background-color: white;
	padding: 3vh 2vw 3vh 2vw;
	border-radius: 5vh;
	box-shadow: 0px 0px 1vh 0px rgba(0, 0, 0, 0.1);
	
}

.LoginPage>img{
	
	width: 16vw;
	object-fit: contain;
	margin-top: 2vh;
}
.LoginPage>p{
	white-space: nowrap;
	font-size: 1.7vw;
	font-weight: bold;
	margin-top: 5vh;
	margin-bottom: 3vh;
}

.LoginPage>form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2vh;
}  

.EmailSender{
	width: 20vw;
	height: 8vh;
	background-color: #D9D9D9;
	font-size: 1.8vw;
	text-align: center;
	text-decoration: underline #00000075;
	border-radius: 1.2vw;
}

.inputLP{
	margin-top: 4.5vh;
	width: 15vw;
	height: 10vh;
	font-size: 2vw;
	background-color: #E94D4D;
	border-radius: 1vw;
	color: #FFFFFF;
}
.input:hover{
	filter: brightness(90%);
}
.input{
	transition: all 0s ease;
	cursor: pointer;
}

/* Media LP */
@media (max-width: 820px) and (min-height: 600px){
	.LoginPage>img{
		min-width: 150px;
	}
	.LoginPage>p{
		font-size: 15px;
	}
	.EmailSender{
		width: 180px;
		height: 50px;
		font-size: 16px;
		border-radius: 10px;
	}
	.inputLP{
		width: 150px;
		height: 50px;
		font-size: 18px;
		border-radius: 10px;
	}
}