<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anime Database</title>
    <link rel="stylesheet" href="./static/styles/main.css">
</head>

<body>
    <header>
        <img src="./static/images/ADatabase.svg" class="headerElement icon" alt="icon">
        <div>
            <a href="#" class="btn1 button_New"><img src="./static/images/button_New_.svg"
                    class="headerElement buttonNew" alt="button_New"></a>

            <a href="./login" class="btn1"><img src="./static/images/accountButton.svg"
                    class="headerElement accountButton" alt="accountButton"></a>
        </div>
    </header>

    <section class="FirstPage">
        <!-- FP = First Page -->
        <div class="textFP">
            <h1 class="headingFP"> Anime Database Project </h1>

            <p class="text1FP">
                Проект "Anime Database" (далее - Проект) предназначен для упрощения менеджмента просмотренных / начатых
                / не начатых аниме.
            </p>

            <h4 class="descriptionFP">Описание:</h4>
            <ol class="descriptionElementsFP">
                <li>Проект представляет собой веб-приложение для пользования любым желающим; </li>
                <li>Имеется возможность создать аккаунт в веб-приложении. После имеется возможность авторизации; </li>
                <li>Проект предоставляет возможность манипулировать "Аниме тайтлами": </li>
            </ol>
            <ul class="descriptionElementsFP">
                <li>Добавлять аниме тайтлы; </li>
                <li>Удалять аниме тайтлы;</li>
                <li>Изменять аниме тайтл; </li>
                <li>Искать аниме тайтлы; </li>
                <li>Сортировать аниме тайтлы; </li>
                <li>Переходить на другие сайты для просмотра аниме</li>
            </ul>
        </div>
        <div class="contactsFP">
            <a href="https://gitverse.ru/space_verse/AnimeDatabase/content/main" target="_blank" class="btn1">
                <img src="./static/images/gitverseIcon1.svg" class="contactsElement" alt="gitverseIcon">
            </a>

            <a href="#" target="_blank" class="btn1" target="_blank">
                <img src="./static/images/telegramIcon1.svg" class="contactsElement" alt="telegramIcon">
            </a>

            <a href="#" class="btn1" target="_blank">
                <img src="./static/images/yoomoneyIcon1.svg" class="contactsElement" alt="yoomoneyIcon">
            </a>
        </div>
    </section>

</body>

</html>
