<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anime Database</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div class="center">
        <section class="LoginPage">
            <!-- LP = Login Page -->
            <img src="./images/ADatabase.svg" class="iconLP" alt="icon">
            <h2 class="registrationLP">Вход / Регистрация</h2>
            <form>
                <input type="email" name="email" placeholder="Электронная почта" class="EmailSender">
                <br>
                <input type="submit" value="Продолжить">
            </form>
            
        </section>
    </div>

    
</body>
</html>
